

/* Background */

	#bg:before {
		background: rgba(19, 21, 25, 0.5);
	}

/* Header */

	#header .logo {
		margin: 0 auto;
	}

	#header .content {
		display: inline-block;
	}

	#header nav ul {
		display: inline-block;
	}

		#header nav ul li {
			display: inline-block;
		}

/* Principal */

	#main article {
		margin: 0 auto;
	}